/* New 領域 */
.newArea {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.title {
  font-size: 16px;
  font-weight: unset;
  cursor: pointer;
  border-bottom: 1px solid #000;
}

.newContesnts {
  text-align: center;
  width: 30%;
  cursor: pointer;
}

.newContesnts .title {
  border-bottom: none;
}

.newContesnts:hover {
  opacity: 0.8;
}

.newImage {
  width: 100%;
  height: auto;
}

.newTitle {
  font-size: 18px;
  margin: 4px;
  font-weight: bold;
}

.newText {
  font-size: 14px;
  margin: 0;
}

.newpickupArea {
  width: 30%;
}

.newpickupTitle {
  display: flex;
  gap: 24px;
  justify-content: center;
  list-style: none;
}

.active {
  color: #ec9328;
  border-bottom: 1px solid #ec9328;
}

.contents {
  border-top: 1px solid #000;
  cursor: pointer;
  margin-top: 16px 0 0;
}

.contents:hover {
  background: rgba(192, 191, 191, 0.4);
}

.contentsInfo {
  display: flex;
  gap: 24px;
  font-size: 12px;
}

.contentsTitle {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}